<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница - NODE js</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Header -->
    <%- include ('blocks/header') -%>

        <!-- Main - страница "О нас" -->
        <main>
            <h1 class="page-title">О нас</h1>

            <div class="content">
                <p>Приветствую тебя, мой дорогой друг! Я рад, что ты решил посетить мой сайт, посвященный Node.js.</p>

                <p>Здесь ты найдешь множество полезной информации, уроков и примеров кода, которые помогут тебе освоить
                    эту
                    мощную платформу для разработки серверных приложений.</p>

                <h2>Наша миссия</h2>
                <p>Мы стремимся сделать изучение Node.js доступным и понятным для каждого. Независимо от того, новичок
                    ты
                    или опытный разработчик, я уверен, что здесь ты найдешь что-то интересное и полезное для себя.</p>

                <h2>Что мы предлагаем</h2>
                <p>Давай вместе погрузимся в мир Node.js и начнем создавать удивительные приложения!</p>
                <p>Мы предлагаем:</p>
                <ul>
                    <li>Уроки для начинающих</li>
                    <li>Примеры кода</li>
                    <li>Лучшие практики разработки</li>
                    <li>Советы и рекомендации</li>
                </ul>
            </div>
        </main>

        <!-- Footer -->
        <%- include ('blocks/footer') -%>
</body>

</html>