<header>
    <a href="/" class="logo">NODE JS</a>
    <!-- Навигация -->
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
    </nav>
    <!-- Форма поиска -->
    <form class="search-form" action="/check-user" method="post">
        <input type="text" name="user" placeholder="Имя пользователя">
        <button type="submit">Найти</button>
    </form>
</header>