<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODE js</title>
    <link rel="stylesheet" href="./templas/css/style.css"><!-- не работает -->
    <style>
        body {
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #333333;
            padding-top: 100px;
        }

        a {
            color: #ff0000;
            text-decoration: none;
            font-size: 25px;
        }

        a:hover {text-decoration: underline;}
    </style>
</head>

<body>
    <h1>ОШИБКА</h1>
    <p> Такой страницы не существует <a href="/">Назад к главной странице </a></p>
</body>

</html>