<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODE js</title>
    <link rel="stylesheet" href="./templas/css/style.css"><!-- не работает -->
    <style>
        body {
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #333333;
            padding-top: 100px;
        }
    </style>
</head>

<body>
    <h1>NODE js</h1>
    <p>Приветствую тебя, мой дорогой друг! Я рад, что ты решил посетить мой сайт, посвященный Node.js.
        Здесь ты найдешь множество полезной информации, уроков и примеров кода, которые помогут тебе освоить эту
        мощную платформу для разработки серверных приложений. Независимо от того, новичок ты или опытный разработчик,
        я уверен, что здесь ты найдешь что-то интересное и полезное для себя. Давай вместе погрузимся в мир Node.js и
        начнем создавать удивительные приложения!</p>

    <a href="./about">about NODE js</a>
</body>

</html>